<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>Responsive Cards</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
     
    </style>
</head>
<body>

<div class="bg-container">
  <div class="title">
    <h1>Erwarten Sie diese Skills</h1>
    <p>Von der Frontendentwicklung bis zur persönlichen Ebene: Vielseitigkeit in Person</p>
    <a href="assets/images/Gent_Ndoci_-_.pdf" target="_blank" class="resume-link-button">Lebenslauf.pdf</a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card1">
          <div class="card-body">
              <h2>Python-Entwicklung</h2>
              <p>
                  Meine Python-Kenntnisse haben sich maßgeblich durch die Arbeit an verschiedenen Projekten entwickelt, insbesondere durch die Umsetzung des Naruto-Wikis mit Flask. Hier habe ich API-Anfragen genutzt, um dynamische Daten für das Wiki zu integrieren und eine effiziente Datenverwaltung zu gewährleisten.
              </p>
              <p>
                  Das Naruto-Projekt war ein Höhepunkt meiner Python-Reise und betonte meine Fähigkeit, komplexe Systeme zu entwerfen und umzusetzen.
              </p>
              <p>
                  Schlüsselthemen:
              </p>
              <ul>
                  <li>Python-Entwicklung für datengetriebene Projekte</li>
                  <li>API-Integration für dynamische Datenverwaltung</li>
                  <li>Effizientes Systemdesign und -umsetzung</li>
                  <li>Einsetzen des Flask-Frameworks</li>
              </ul>
          </div>
      </div>
  </div>
    <div class="col-md-6">
        <div class="card card2">
            <div class="card-body">
                <h2>Angular und Portfolio</h2>
                <p>
                    Meine Arbeit mit Angular umfasst die Erstellung dynamischer und ansprechender Benutzeroberflächen. Ein Beispiel ist das aktuelle Portfolio, das Sie gerade betrachten. Es wurde unter Verwendung des Angular-Frameworks entwickelt und verdeutlicht meine Fähigkeiten in der Erstellung benutzerfreundlicher Webanwendungen.
                </p>
                <p>
                    Ich habe Erfahrung in der Umsetzung von Angular-Komponenten, Routern und Services zur Erstellung reaktionsschneller Webanwendungen.
                </p>
                <p>
                    Schlüsselthemen:
                </p>
                <ul>
                    <li>Erstellung dynamischer Benutzeroberflächen mit Angular</li>
                    <li>Entwicklung reaktionsschneller Webanwendungen</li>
                    <li>Verwendung von Angular-Komponenten und Routern</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card card3">
          <div class="card-body">
              <h2>Ungewöhnliche Wege gehen</h2>
              <p>
                  Der Weg von mir zeichnet sich durch die Bereitschaft aus, unkonventionelle Richtungen einzuschlagen und kreative Lösungen zu finden. Ich betrachte Herausforderungen als Chancen, um neue Wege zu erkunden und innovative Ansätze zu entwickeln.
              </p>
              <p>
                  Meine Neugier und mein Entdeckergeist haben mich dazu inspiriert, neue Ideen zu erforschen und ungewöhnliche Pfade zu beschreiten, sei es bei der Entwicklung neuer Funktionen oder der Suche nach unkonventionellen Lösungsansätzen.
              </p>
          </div>
      </div>
  </div>
  
      <div class="col-md-6">
        <div class="card card4">
            <div class="card-body">
                <h2>Anhaltende Lernbereitschaft</h2>
                <p>
                    Meine Entschlossenheit, fortlaufend dazuzulernen, zeigt sich durch mein aktives Engagement. Ich setze mir nicht nur Ziele, ein breites Wissen zu erlangen, sondern setze dies konkret in Projekten um.
                </p>
                <p>
                    Ich entwickle und erweitere privat Apps, um kontinuierlich zu lernen und mein Wissen praktisch anzuwenden. Zusätzlich erkunde ich ständig neue Technologien, um mein Entwicklungsrepertoire zu erweitern und meine Fähigkeiten zu verbessern.
                </p>
            </div>
        </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>