<div class="container">
    <div class="row">
        <div class="col-lg-6 order-lg-2 d-flex justify-content-end align-items-end">
            <div class="box">
                <div class="text-section">
                    <span class="dev-text-bold">&lt;dev&gt;</span><br>
                    <div class="dev-description">
                        Frontend-Developer<br>
                        mit einer Leidenschaft<br>
                        für Programmieren
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 order-lg-1 d-flex justify-content-start">
            <div id="image-container" class="d-flex align-items-end">
                <img class="portrait" src="assets/images/Gent_Selbstportrait.png" style="max-width: 100%; height: auto; max-height: 80vh;" />
            </div>
        </div>
    </div>
</div>
