<app-navbar></app-navbar>
<app-startseite></app-startseite>
<app-aktuelle-projekte></app-aktuelle-projekte>
<app-meine-skills></app-meine-skills>
<app-projekte-detailliert id="ProjekteDetailliert"></app-projekte-detailliert>
<div class="footer black-background text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Kontakt</h5>
                <p id="email">Email: gentndoci&#x40;gmail.com<br>Telefon: +43 676 4653580</p>
                        </div>
            <div class="col-md-4">
                <h5>Links</h5>
                <ul>
                    <li><a href="#start">Startseite</a></li>
                    <li><a href="https://github.com/GentGn">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/gent-ndoci-9984a0251/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


   