.black-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: auto;
  padding: 100px;
}


h2.text-center {
  color: #ffffff; 
}


.project-image {
  width: 100%;
  height: auto;
}

.left-image {
  width: 100%;
  height: auto;
  max-height: 100%; /* Stellt sicher, dass das Bild die maximale Höhe nicht überschreitet */
}


.card {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  background-color: #fff;
  overflow: auto; /* Überlauf verstecken, falls das Video über die Karten hinausragt */
}

.scroll-link {
  height: 100%; /* Sorgt dafür, dass die Höhe des Elements vollständig ist */
  display: flex; /* Nutzt Flexbox-Layout */
  justify-content: center; /* Zentriert horizontal */
  align-items: center; /* Zentriert vertikal */
}


.styled-button {
  background-color: #333;
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  align-items: center;
  position:relative;
  bottom: 35%;
}

.styled-button:hover {
  background-color: #555; 
}
