<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <title>Dein Angular-Projekt</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="black-background">
        <div class="container ot-4">
            <h2 class="text-center mb-4">Aktuelle Projekte</h2>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card bg-dark mb-3">
                        <div class="card-body">
                            <img src="assets/images/Naruto_Projekt_Screen.PNG" alt="Naruto App Screen" class="project-image left-image">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-dark mb-3">
                        <div class="card-body">
                            <img src="assets/images/Hotel_App_Screen.PNG" alt="Hotel App Screen" class="project-image">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Link zu den Projektdetails unterhalb der Cards -->
            <div class="scroll-link text-center">
                <p style="color:white">Unten erfahren Sie mehr!</p>
            </div>
        </div>
    </div>

      <!-- Bootstrap JavaScript einbinden (optional) -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <!-- Deine eigenen JavaScript-Dateien einbinden -->
      <script src="app.js"></script>
  </body>
  </html>