<div class="black-background">
    <div class="container ot-4">
        <h2 class="text-center mb-4">Aktuelle Projekte</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark mb-3">
                    <div class="card-body">
                        <img src="assets/images/Naruto_Projekt_Screen.PNG" alt="Naruto App Screen" class="project-image left-image">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-dark mb-3">
                    <div class="card-body">
                        <img src="assets/images/Hotel_App_Screen.PNG" alt="Hotel App Screen" class="project-image">
                    </div>
                </div>
            </div>
        </div>
        <!-- Link zu den Projektdetails unterhalb der Cards -->
        <div class="scroll-link text-center">
            <p style="color:white">Unten erfahren Sie mehr!</p>
        </div>
    </div>
</div>
