.card {
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  background-color: #fff;
  overflow: auto; /* Überlauf verstecken, falls das Video über die Karten hinausragt */
}

.card video {
  width: 100%; /* Video auf 100% Breite setzen */
  padding: 10px;
  border-radius: 15px;
  height: auto; /* Automatische Höhe basierend auf der Breite */
  max-height: 100%; /* Sicherstellen, dass das Video nicht die Kartenhöhe überschreitet */
}

.black-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: auto;
  padding: 100px;
}




