<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="black-background">
    <div class="row">
      <div class="col-md-5">
        <div class="card mb-3 bg-dark text-white">
          <video width="100%" height="auto" autoplay loop muted>
            <source src="assets/videos/Naruto Website_ Homepage - Google Chrome 2023-12-04 16-02-28.mp4" type="video/mp4">
            Dein Browser unterstützt das Video-Tag nicht.
          </video>
          <div class="card-body">
            <p class="card-text">Ein Projekt, das das Naruto-Universum erkundet und die Suche nach Charakteren, Clans, Jutsus und mehr ermöglicht. Das Backend wurde mit Flask und Python entwickelt und nutzt Anfragen über eine Naruto-API, um Informationen zu erhalten. Die Oberfläche ist sorgfältig mit CSS gestaltet, um ein ansprechendes Nutzererlebnis zu bieten.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 bg-dark text-white">
          <video width="100%" height="auto" autoplay loop muted>
            <source src="assets/videos/HotelApp - Google Chrome 2023-12-04 17-07-42.mp4" type="video/mp4">
            Dein Browser unterstützt das Video-Tag nicht.
          </video>
          <div class="card-body">
            <p class="card-text">Eine Hotel-App, die Buchungen bearbeiten, erstellen und löschen kann, sowie die Möglichkeit bietet, einen Newsletter zu abonnieren. Entwickelt in Angular mit vorgefertigten Endpunkten für ein Backend.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

</body>
</html>
